.chat-container {
  display: flex;
  flex-direction: column;
  
  .msg {
    display: flex;
    width: 100%;
    margin-bottom: 10px;
    
    /* Mensajes que envías tú */
    &.sent {
      justify-content: flex-end;
      .bubble {
        background: var(--ion-color-primary);
        color: white;
        border-radius: 15px 15px 0 15px;
      }
    }
    
    /* Mensajes que recibes */
    &.received {
      justify-content: flex-start;
      .bubble {
        background: #e5e5ea;
        color: black;
        border-radius: 15px 15px 15px 0;
      }
    }
    
    .bubble {
      max-width: 75%;
      padding: 10px 14px;
      box-shadow: 0 1px 2px rgba(0,0,0,0.1);
      p { 
        margin: 0; 
        font-size: 1rem; 
      }
    }
  }
}

.empty-state {
  text-align: center;
  margin-top: 50px;
  color: var(--ion-color-medium);
}