<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>

    <ion-title>
      <div class="chat-header">
        <img class="avatar" [src]="contacto.avatar" alt="avatar" />

        <div class="user-info">
          <h2 class="name">{{ contacto.nombre }}</h2>
          <p class="status">{{ contacto.estado }}</p>
        </div>
      </div>
    </ion-title>

    <ion-buttons slot="end">
      <ion-button>
        <ion-icon name="call-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="messages-container">

    <div 
      class="message-bubble" 
      *ngFor="let msg of mensajes"
      [ngClass]="{ enviado: msg.enviado, recibido: !msg.enviado }"
    >
      <p class="texto">{{ msg.texto }}</p>

      <span class="hora">{{ msg.hora }}</span>
    </div>

  </div>

</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar class="chat-input-toolbar">
    <ion-item lines="none" class="input-box">
      <ion-input 
        placeholder="Mensaje..." 
        [(ngModel)]="mensajeNuevo"
        (keyup.enter)="enviarMensaje()"
      ></ion-input>

      <ion-buttons slot="end">
        <ion-button (click)="enviarMensaje()">
          <ion-icon name="send-outline"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-item>
  </ion-toolbar>
</ion-footer>
