<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="booking" href="/tabs/booking">
      <ion-icon name="book-outline"></ion-icon> <ion-label>Booking</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="chat" href="/tabs/chat">
      <ion-icon name="chatbubbles"></ion-icon>
      <ion-label>Chat</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="publicacion" href="/tabs/publicacion">
      <ion-icon name="create"></ion-icon>
      <ion-label>Publicación</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>