<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Nueva publicación</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <div class="image-selector" (click)="seleccionarImagen()">
    <img *ngIf="imagenPreview" [src]="imagenPreview" class="preview" />
    <div *ngIf="!imagenPreview" class="placeholder">
      <ion-icon name="camera-outline"></ion-icon>
      <p>Subir foto</p>
    </div>
  </div>

  <ion-item>
    <ion-select 
      label="Selecciona tu mascota" 
      label-placement="floating" 
      [(ngModel)]="form.mascotaNombre"
      placeholder="Elige una..."
      interface="popover">
      
      <ion-select-option *ngFor="let m of mascotas$ | async" [value]="m.nombre">
        {{ m.nombre }}
      </ion-select-option>

    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input [(ngModel)]="form.titulo"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-textarea rows="4" [(ngModel)]="form.descripcion"></ion-textarea>
  </ion-item>

  <ion-item>
    <ion-label>Fecha inicio</ion-label>
    <ion-datetime-button datetime="inicio"></ion-datetime-button>
  </ion-item>
  <ion-datetime id="inicio" presentation="date"
    (ionChange)="form.fechaInicio = $event.detail.value">
  </ion-datetime>

  <ion-item>
    <ion-label>Fecha fin</ion-label>
    <ion-datetime-button datetime="fin"></ion-datetime-button>
  </ion-item>
  <ion-datetime id="fin" presentation="date"
    (ionChange)="form.fechaFin = $event.detail.value">
  </ion-datetime>

  <ion-item>
    <ion-label position="floating">Ubicación</ion-label>
    <ion-input [(ngModel)]="form.ubicacion"></ion-input>
  </ion-item>

  <ion-button expand="block" class="btn-publicar" (click)="publicar()">
    Publicar
  </ion-button>

</ion-content>