<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Encuentra Cuidadores y Mascotas</ion-title>
  </ion-toolbar>
  <ion-toolbar color="primary">
    <ion-searchbar 
      [(ngModel)]="searchQuery"
      placeholder="Buscar por nombre..." 
      (ionInput)="onSearchChange($event)">
    </ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list-header>
    <ion-label>Cuidadores Disponibles</ion-label>
  </ion-list-header>
  
  <div class="horizontal-scroll">
    <ion-card *ngFor="let user of cuidadores" class="item-card">
      <img [src]="user.fotoUrl || 'assets/imgs/logo.png'">
      <ion-card-header>
        <ion-card-title>{{ user.nombre || user.displayName || user.email }}</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear" expand="block" (click)="abrirChat(user)">
        <ion-icon slot="start" name="chatbubbles-outline"></ion-icon> Chat
      </ion-button>
    </ion-card>
  </div>

  <ion-list-header>
    <ion-label>Mascotas Cercanas</ion-label>
  </ion-list-header>
  
  <div class="horizontal-scroll">
    <ion-card *ngFor="let mascota of mascotas" class="item-card">
      <img [src]="mascota.foto || 'assets/imgs/perrillo.jpg'">
      <ion-card-header>
        <ion-card-title>{{ mascota.nombre }}</ion-card-title>
      </ion-card-header>
      <ion-button fill="clear" expand="block" (click)="abrirChat(mascota)">
        <ion-icon slot="start" name="paw-outline"></ion-icon> Dueño
      </ion-button>
    </ion-card>
  </div>
</ion-content>